@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans&display=swap');

#root {
    overflow-x: hidden;
}

.main {
    height: 100%;
    width: 100%;
    display: flex;
}

.gobe-logo {
    display: inline-block;
    width: 80px;
    margin-top: 50px;
}

.value-proposition {
    font-family: IBM Plex Sans;
    align-items: flex-start;
    margin-top: 10%;
    font-size: 30px;
    font-weight: 900;
    letter-spacing: 0.020em;
    box-sizing: border-box;
}

.welcome {
    font-family: IBM Plex Sans;
    font-weight: 900;
    font-size: 60px;
    letter-spacing: -0.060em;
    margin-top: 10%;
}

.illustration {
    display: relative;
    width: 100%;
    margin-top: 122px;
}

.welcome-illustration {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 10%;
}

.check-mail {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.confrimation-box {
    font-size: 18px;
    margin-left: 1em;
    font-weight: 400;
}

.confirmation-box__div {
    font-family: IBM Plex Sans;
    margin-top: 24px;
    height: 30px;
    width: 30px;
}

.input-box {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    margin-top: 1em;
    border-radius: 30px;
    border: 2px white;
    background: white;
    box-shadow: 0 4px 2px 1px rgb(182, 180, 180);
    padding: 20px;
    width: 80%;
    height: 50px;
    outline: none !important;
}

.button {
    background-color: #22B573;
    border-radius: 30px;
    border: 3px #22B573;
    width: 80%;
    height: 50px;
    font-family: IBM Plex Sans;
    text-align: center;
    color: white;
    outline: none;
}


@media(max-width: 767px) {
    .illustration {
        display: none;
    }

    
    .main-container__relative {
        height: 70%;
        position: absolute;
    }

    .main-container {
        position: relative;
        background-image: url('../assets/mobile-illustration.svg');
        background-repeat: no-repeat;
        min-height: 85vh;
        background-size: 200%;
        background-position: center center;
        background-position-y: bottom;
    }

    .welcome-illustration {
        display: none;
    }

    .welcome-container {
        position: relative;
        background-image: url('../assets/welcome-mobile.svg');
        background-repeat: no-repeat;
        background-size: 150%;
        min-height: 80vh;
        background-position: center center;
        background-position-y: bottom;
    }
}